._auth/*
.DStor*
*.DStor*
source/*
/private/data/session/*
/private/data/cache/*
/private/library/_backup*
/private/_backup*
/private/library/alias2ln
/private/library/Doctrine/.project*
/private/library/Doctrine/.settings*