._auth/*
.DS_Stor*
*.DS_Stor*
*/.DS_Store
*.classmap.php
.notes.md
.project*
.settings*
nbproject/*
source/*
Icon*
private/bin/d2.php
private/data/session/*
private/data/cache/*
private/data/logs/*
private/data/generated/*
private/_backup*
