#role-modal ul li
{
    float:left;
    margin-bottom:1em;
    width:33%;
}

#entityform dd > *
{
    margin-bottom: 1em;
}

.topbar ul .menu-dropdown li a.divider,
.topbar ul .dropdown-menu li a.divider
{
    padding: 0;
}

.popover
{
    z-index: 12000;
}

a.notice span.ui-icon
{
    display: inline-block;
}

#fieldset-categories br, #fieldset-userroles br
{
    display: none;
}

#fieldset-categories label, #fieldset-userroles label
{
    padding-top: 0;
    padding-bottom:6px;
}

div.input label
{
    text-align: left;
    width: 33%;
}

div.input input
{
    float: none;
    margin-right: 6px;
}

label.required:after
{
    content: " *";
}

p.more-information.decorator
{
    position:relative;
    top:-15px;
}

p.more-information.decorator span
{
    margin-left: 160px;
}

div.asset-listings div.ui-progressbar
{
    width: 100px;
}

div.asset-listings table tbody tr td div.ui-progressbar
{
    display: none;
}

div.asset-listings table tbody tr td.uploading div.ui-progressbar
{
    display: block;
}

ul.qq-upload-list
{
    display: none;
}

div.jGrowl
{
    z-index:15000;
}

div.jGrowl.top-right
{
    top: 45px;
}

div.jGrowl-notification
{
    border:1px solid #777;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
}

div.modal div.table-scroller
{
    overflow-y: scroll;
}

div.modal #current-gallery div.table-scroller
{
    max-height: 272px;
}

div.modal #media-library div.table-scroller
{
    max-height: 227px;
}

div.modal #media-library div.table-scroller.thumbnails
{
    max-height: 230px;
}

div.modal table
{
    border-radius: 0;
    margin-bottom: 0;
    width: 550px;
}

div.modal table.header
{
    border-radius:4px 4px 0 0;
    border-bottom: none;
}

div.modal table.footer
{
    border-radius:0 0 4px 4px;
    border-top: none;
}

div.modal div.table-scroller table
{
    border-bottom: none;
    border-top: none;
}

div.modal table tbody input
{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
}

div.modal table.editor-asset-table {
    border: none;
    border-collapse: collapse;
}

div.modal table.editor-asset-table th, div.modal table.editor-asset-table td {
    border: none;
}

.thumbnail-img, .header.thumbnail-img {
    width: 86px !important;
}


.thumbnail-type {
    width: 175px !important;
}

.thumbnail-edit {
    width: 25px !important;
}


.zebra-striped.thumbnails .header:after {
    margin-top: -5px;
    width: 5px;
}

.asset-editor form div.actions {
    left: 15px;
    position: relative;
    top: 62px;
    width: 270px;
}

.asset-editor form div.actions .btn{
    position: relative;
    right: 47px;
}


.asset-variants-variations div.actions {
    height: 35px;
    left: 538px;
    position: absolute;
    top: 290px;
    width: 200px;
}

.asset-variants-variations div.actions .btn.primary{
    height: 29px;
    position: relative;
    right: 268px;
    width: 115px;
}
.asset-variants-variations div.actions .btn.reset{
    position: relative;
    top: -29px;
}
.asset-variants-variations div.actions .btn.delete{
    left: 50px;
    position: relative;
    top: -58px;
}

div.thumbnail-listings {
    left: 500px;
    max-height: 298px !important;
    position: absolute;
    top: 52px;
    width: 365px !important;
}

.thumbnail-listings table {
    width: 365px !important;

}
.table-scroller.thumbnails {
    width: 383px;
}

#cropping-tool {
    position: relative;
    left: 80px;
    top: 10px;
}

#jcrop_target {
    height: auto !important;
    max-height: 315px;
    max-width: 400px;
    position: absolute;
    left: 70px;
    width: auto !important;   
}

.jcrop-holder, .jcrop-holder img{
    max-height: 315px;
    max-width: 400px;
    position: absolute;
}

div.modal table th.header.thumbnail-type, div.modal table td.header.thumbnail-type {
    width: 175px !important;
}

div.thumbnail-listings table tbody img
{
    display: block;
    margin: 0 auto;
    max-height: 60px;
    max-width: 86px;
}

div.asset-variants-variations div#img-data {
    position: absolute;
    left: 550px;
    top: 105px;
}

textarea.wysiwyg
{
    opacity: 0;
}

div.content .cke_skin_kama
{
    margin-left: 6px;
}

div.content .cke_skin_kama .cke_wrapper
{
    background-color: #efefef;
    background-image: none;
}

/*div#main > .content {
    left: 20px;
    margin-left: 260px;
    position: absolute;
    top: 50px;
}*/

div#main > footer.bottombar {
    background-color: #efefef;
    background-image: none;
}

div#main > aside.sidebar
{
    background-color: #fefefe;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    padding-top: 40px;
/*    position: relative;
    top: -40px;*/
}

div#main > aside.sidebar > img.logo
{
    margin: 20px auto;
}

aside.sidebar > div
{
    text-align: left;

}

aside.sidebar ul
{
    margin: 0;
    list-style: none;
}

aside.sidebar ul.navigation
{
    border-bottom: 1px solid #ddd;
}

aside.sidebar ul.navigation > li > ul
{
    border-top: 1px solid #ddd;
}

aside.sidebar ul.navigation li a
{
    color: #000;
    display: block;
    padding: 5px;
}

aside.sidebar ul.navigation li ul li ul li a
{
    color: #000;
    display: block;
    padding: 5px;
    font-weight: normal;
    margin-left: 10px;
}

aside.sidebar ul.navigation li ul li ul li ul li a
{
    color: #000;
    display: block;
    padding: 5px;
    font-weight: normal;
    margin-left: 20px;
}

aside.sidebar ul.navigation > li > a
{
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    border-top: 1px solid #ddd;
    font-weight: bold;
}

aside.sidebar ul.navigation > li > a:after
{
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #ddd;
    content:"&darr";
    display:inline-block;
    float: right;
    height:0;
    margin-right:4px;
    margin-top:8px;
    opacity:1;
    text-indent:-99999px;
    vertical-align:top;
    width:0;
}

aside.sidebar ul.navigation li.active > ul > li.active > a,
aside.sidebar ul.navigation li.ui-state-active > ul > li.ui-state-active > a
{
    background-color: #eee;
}

div.well, aside#side-panel
{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -o-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -ie-linear-gradient(center top , #FFFFFF, #F5F5F5);
}

div.well, #user-menu aside#side-panel-user
{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -webkit-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -o-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-image: -ie-linear-gradient(center top , #FFFFFF, #F5F5F5);
    width: 550px;
}


form#usermenu_updateform a.notice.jquery-ui {
    position: relative;
    left: -5px;
    float: right;
}


aside#side-panel > div
{
    margin: 60px 20px;
}
#uri-element
{
   width: 500px;
}

#menusubmit {
    float: right;
}

#menudelete {
    float: right;
    margin-right: 10px;
    margin-top: -12px;
}


aside#side-panel-user > div
{
    margin: 60px;
}

#user-menu aside#prop-listings
{
    margin: 60px ;
    width: 570px;
    position: fixed;
    right: 200px;
    top: 50px;
}

div.well
{
    border: 1px solid #DDD;
}

article > ul.tabs
{
    margin-top: 18px;
}

.tabs > li.pull-right, .pills > li.pull-right {
    float: right;
}

h1.site-title
{
    display: none;
}

ul.errors
{
    list-style: none;
    margin: 0.5em 0 0;
}

ul.errors li
{
    color: red;
}

div.browser-tree
{
    background: none;
    border: none;
    overflow: auto;
}

div.modal #media-library div.browser-tree
{
    height: 312px;
}

div.browser-tree .ui-state-default
{
    border: 1px solid transparent;
}

.ui-widget-content
{
    background-size:100% 100%;
}

/* Inherits from Flick theme */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    color: #0064CD;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    color: #C43C35;
}

fieldset.galleries > div.gallery
{
    display: none;
}

fieldset.galleries > div.menu > a, fieldset.galleries > div.menu > div
{
    display: inline-block;
    vertical-align:middle;
}

fieldset.galleries > div.menu
{
    padding-left:10px;
}

fieldset.galleries > div.menu > div
{
    margin-left: 30px;
}

fieldset.galleries > div.menu > div ul.pills
{
    margin-bottom: 0;
}

fieldset.galleries > div.gallery.active
{
    display: block;
}

ul.media-grid
{
    background-color: #F5F5F5;
    border-radius: 0 0 3px 3px;
    counter-reset: item;
}

ul.media-grid > p
{
    margin: 1em;
}

div.gallery .resource
{
    display: inline-block;
    position: relative;
}

div.gallery div.resource a
{
    margin: 0;
}

div.gallery li
{
    float: left;
    border: none;
    margin-top: 20px;
}

div.gallery li > a
{
    background-color:fff;
}

div.gallery .resource a:hover
{
    cursor: move;
}

div.gallery .resource a img
{
    min-height: 22px;
    background-color: #ccc;
    min-height: 22px;
    text-align: center;
    vertical-align: middle;
}

div.gallery .resource.ui-state-default
{
    background: none;
    border: none;
}

div.gallery .resource button.ui-icon, div.gallery .resource span
{
    position: absolute;
    height: 16px;
    width: 16px;
}

div.gallery .resource span
{
    position: absolute;
    background-color: #F0F0F0;
    color: #777;
    display: block;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 0 2px;
    text-align: center;
}

div.gallery .resource span.count:before
{
    counter-increment: item;
    content: counters(item, ".") " ";
}

div.gallery div.resource span.count
{
    left:0;
    top:0;
}

div.gallery li.resource span.count
{
    left:20px;
    top:0;
}

div.gallery div.resource span.filler,
div.gallery div.resource button.ui-icon-search
{
    left:0;
    bottom:0;
}

div.gallery li.resource span.filler,
div.gallery li.resource button.ui-icon-search
{
    left:20px;
    bottom:20px;
}

div.gallery .resource button.ui-icon-close
{
    right:0;
    top:0;
}

div.gallery div.resource button.ui-icon-scissors
{
    right:0;
    bottom:0;
}

div.gallery li.resource button.ui-icon-scissors
{
    right:0;
    bottom:20px;
}

div.gallery .ui-sortable-placeholder
{
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(221, 221, 221, 0.125);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 103px;
    margin: 20px 0 0 20px;
    visibility: visible;
    width: 103px;
}

div.list-view
{
    height: 90px;
    overflow-y: scroll;
}

#user-details img.qr-code
{
    position: absolute;
}

html.page-landing h1
{
    margin-bottom: 25px;
}

html.page-landing div.modal.static
{
    margin-bottom: 25px;
}

html.page-landing div.modal.static dl dd
{
    margin: 0 0 1em;
}

html.page-landing div.hero-unit
{
    margin-bottom: 0;
}

html.page-landing div.hero-unit ul.messages
{
    list-style:none outside none;
    margin: 0;
    text-align: center;
}

html.page-landing form fieldset legend
{
    display: none;
}

article > section > fieldset
{
    display: inline-block;
}

div.pagination ul li.more a
{
    min-width: 95px;
    text-align: center;
}

body > footer
{
    z-index: 100;
}

body > footer ul
{
    display: inline-block;
    list-style: none;
    margin: 0;
}

body > footer ul, body > footer span.copyright
{
    margin-top: 15px;
}

div.page-footer
{
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
    padding-top: 5px;
}

div.modal.static
{
    position: static;
    margin: 0 auto;
}

div.input ul.as-selections
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    list-style: none;
    margin: 0;
    width: 750px;

    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

div.input ul.as-selections li, div.input ul li.as-original
{
    margin: 2px 4px 2px 0;
}

div.input ul.as-selections li.as-selection-item
{
    -moz-border-bottom-colors:none;
    -moz-border-image:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    -moz-transition:all 0.1s linear 0s;
    background-color:#E6E6E6;
    background-image:-moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat:no-repeat;
    border-color:#CCCCCC #CCCCCC #BBBBBB;
    border-style:solid;
    border-width:1px;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color:#333333;
    cursor:pointer;
    display:inline-block;
    font-size:13px;
    line-height:normal;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
}

div.input ul.as-selections li.as-selection-item.selected
{
    background-color:#0064CD;
    background-image:-moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat:repeat-x;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFFFFF;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.input ul.as-selections li.as-selection-item.blur
{
    background-color:#eee;
    background-image:-moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat:repeat-x;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFFFFF;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.input ul.as-selections li.as-selection-item:hover
{
    background-position:0 -15px;
    text-decoration:none;
}

ul.as-selections li.as-selection-item.blur a.as-close, ul.as-selections li.as-selection-item.selected a.as-close
{
    color:#fff;
    font-weight: normal;
}

ul.as-selections li.as-selection-item.blur a.as-close {
    color:#FFFFFF;
    font-weight:normal;
}

div.input ul.as-selections li.as-original input
{
    border: none;
    box-shadow: none;
}

div.input ul.as-list
{
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    height: 150px;
    overflow-y: scroll;
}

div.input ul.as-selections.loading
{
    background-color:#fff;
}

li.as-result-item
{
    border-radius: 0;
}

li.as-result-item, li.as-result-item.active
{
    border-color:transparent;
    color:#808080;
    text-shadow:none;
}

li.as-result-item.active
{
    background-color:#eee;
}

li.as-result-item em, li.as-result-item.active em
{
    background-color:#aaa;
}

tfoot tr td
{
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
}

div#main
{
    padding-top: 60px;
/*    height: 100%;*/
}

div.content > h2
{
    margin-bottom: 0.5em;
}
/*
div.modal#asset-manager section:not(.active)
{
    display: none;
}
*/
div.modal section#current-gallery
{
    clear:both;
}

div.modal section > div
{
    position: relative;
    left: 0;
    width: 1900px;
}


div.modal section#media-library > div.focus-asset-variants
{
    left: -945px;
}

div.modal section#media-library > div.focus-asset-variants-variations
{
    left: -1900px;
}

/*
article section, div.modal section
{
    display: none;
}

article section.active,
div.modal section.active,
div.modal section#current-gallery > div.active
{
    display: block;
}
*/

.ui-tabs-hide
{
    display: none;
}

ul.ui-tabs-nav li.ui-state-active, ul.ui-tabs-nav li.ui-state-active:hover
{
    color: gray;
    background-color: white;
    border: 1px solid #DDD;
    border-bottom-color: transparent;
    cursor: default;
}

div.modal#asset-manager, div.modal#homepage-asset-manager
{
    width: 960px;
    margin-left: -450px;
}

div.modal#asset-manager div.modal-body, div.modal#homepage-asset-manager div.modal-body
{
    min-height:430px;
    overflow:hidden;
}

.column-group div.page-header h3,
.column-group div.page-header div.input
{
    display: inline-block;
}

.column-group > div
{
    float: left;
    position:relative;
}

.column-group > div > footer
{
    position: relative;
    width: 100%;
}

div.modal #media-library div.asset-listings,div.modal #media-library div.homepage-asset-listings
{
    height: 268px
}

div.modal #current-gallery .column-1
{
    width: 575px;
}

div.modal #current-gallery .column-2
{
    margin-left: 15px;
    width: 340px;
}

#media-library .column-1
{
    width: 340px;
}

#media-library .column-2
{
    margin-left: 15px;
    width: 575px;
}

/*
#media-library .column-3
{
    margin-left: 15px;
    width: 100%;
}
*/

#media-library .column-3
{
    width: 930px;
}

div.modal #media-library .column-3
{
    margin-left: 15px;
}

html.asset-manager #media-library .column-3
{
    clear: both;
    margin-top: 40px;
}

html.asset-manager #media-library .column-3 button.close-asset-variants
{
    display: none;
}

#media-library .column-4
{
    width: 930px;
    
}

div.modal #media-library .column-4 {
    left: 1883px;
    margin-left: 15px;
    position: absolute;
    top: -10px;
}

html.asset-manager #media-library .column-4
{
    clear: both;
    margin-top: 40px;
}

html.asset-manager #media-library .column-4 button.close-asset-variants
{
    display: none;
}


div.modal#asset-manager-browser-tree
{
    background-repeat: repeat;
    height: 298px;
    visibility: hidden;
}

div.modal#asset-manager-asset-manager table
{
    max-height: 266px;
}

div.modal table th.thumbnail, div.modal table td.thumbnail, .thumbnail-listings table td.thumbnail
{
    width: 100px;
}

div.modal table th.title, div.modal table td.title
{

}

div.modal table th.type, div.modal table td.type
{
    width: 60px;
}

div.modal table th.featured, div.modal table td.featured
{
    width: 65px;
}

div.modal table th.include, div.modal table td.include
{
    width: 55px;
}

div.modal table th.edit, div.modal table td.edit
{
    width: 35px;
}

div.modal table th.remove, div.modal table td.remove
{
    width: 60px;
}

table.tablescroll_foot, table.tablescroll_foot thead, table.tablescroll_foot thead tr, table.tablescroll_foot thead tr td
{
    border-top: none;
}

div.modal#asset-manager-asset-manager table tbody
{
    overflow-y: scroll;
}

div.modal#asset-manager-asset-manager-assets
{
    height: 440px;
    overflow-y: scroll;
}

div.modal#asset-manager-asset-manager .ui-button
{
    width: 100%;
}

div.asset-listings table tbody img
{
    display:block;
    height:auto;
    margin: 0 auto;
    width:100px;
}
/*
div.asset-editor
{
    text-align: center;
}
*/
div.asset-editor > footer
{
    text-align: right;
    bottom: 0;
    position: absolute;
}

div.asset-editor img.preview
{
    height: auto;
    max-height: 340px;
    max-width: 340px;
    width: auto;
}

div.modal#asset-manager-browser-tree.jstree-default.jstree-focused
{
    background-color: #F5F5F5;
    background-image: none;
}

.jstree a.ui-state-default
{
    margin-bottom: 0.5em;
}

table tr td fieldset
{
    margin: 0;
    padding: 0;
}

table tr td fieldset ul.inputs-list li
{
    display: inline-block;
    min-width:85px;
    width: auto;
}

table tr td input[type="checkbox"]
{
    left: 4px;
    position: relative;
}

table td.remove
{
    text-align: center;
}

.topbar div > ul li.account-menu > a
{
    display: inline-block;
}

div.ui-progressbar-value
{
    height: 22px;
}

.alert-message .close
{
    margin-top: 0;
}

.ui-progressbar-value
{
        background-image: url(../images/jquery-ui/flick/pbar-ani.gif);
        background-size: 16px 32px;
}

.topbar input#search-all
{
    margin-left: 0;
}

#wrapper ul a.current-flag
{
    background-position: 95% center;
    margin-right: 10px;
    padding-right:20%;
}

li.locale-menu ul li a.icon-flag
{
    background-position: 130px center  !important;
}

.icon-flag
{
    background-repeat: no-repeat  !important;
}

.icon-flag-en_GB
{
    background-image: url(../img/flags/gb.png) !important;
}

.icon-flag-fr_FR
{
    background-image: url(../img/flags/fr.png) !important;
}

.icon-flag-it_IT
{
    background-image: url(../img/flags/it.png) !important;
}

.icon-flag-de_DE
{
    background-image: url(../img/flags/de.png) !important;
}

.icon-flag-es_ES
{
    background-image: url(../img/flags/es.png) !important;
}

.icon-flag-ja_JP
{
    background-image: url(../img/flags/jp.png) !important;
}

.icon-flag-zh_CN
{
    background-image: url(../img/flags/cn.png) !important;
}

.icon-flag-sv_SE
{
    background-image: url(../img/flags/sv.png) !important;
}

label.translation {
    background-position: 15px 10px;
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}
.show-grid [class*="span"] {
    background: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
}
.show-grid:hover [class*="span"] {
    background: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
    background-color: #ccc;
}

ul.ui-sortable {
    list-style: none;
    margin: 0;
}

li.collection-select {
    width: auto;
    margin: 5px 0;
    padding: 5px;
    background-color: #ccc;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

li.collection-select p {
    position: relative;
    line-height: normal;
    margin: 0;
}

li.collection-select p small {
    position: absolute;
    right: 5px;
}
/* Render mini layout previews
-------------------------------------------------- */
.mini-layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout {
    height: 240px;
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 240px;
    height: 240px;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 90px;
    height: 240px;
}
.mini-layout.fluid .mini-layout-body {
    width: 300px;
    margin-left: 10px;
}

div.smallbox{
    /*font : 50px; !important; */
}

#permissions-form {
    padding: 0;
}

#permissions-editor fieldset {
    margin: 5px;
    padding: 0;
}

#permissions-editor fieldset legend {
    padding-left: 0;
    font-size: 1.1em;
}

fieldset div.actions {
    margin-bottom: -18px;
}

/*body > footer.bottombar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
}
#wrapper #footer-offset {
    overflow: visible;
    padding-bottom: 150px;
}
*/
