.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

html body #wrap .replaced
{
	background-attachment: scroll;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
}

html #wrapper div.content form.tabs-container {
    width: 940px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
FLEXIBLE GRID
----------------------------------------------------------------------------------------------------------------------------------*/
.grid-flexible-container {
    margin: 0 18px !important;
/*    width: 960px;*/
}

.grid-flexible-container .grid-row {
	width:100%;
    margin: 0;
}

.grid-flexible-container .grid-25 {
	width:25%;
}

.grid-flexible-container .grid-33 {
	width:33.3%;
}

.grid-flexible-container .grid-50 {
	width:50%;
}

.grid-flexible-container .grid {
	float:left;
	height: 100%;
    margin: 0;
    padding: 0;
}

.grid-flexible-container .grid .spotlight {
    position: relative;
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

.spotlight img {
    width: 100%;
    height: auto;
    opacity:0.25;
}

.spotlight p.fill-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.spotlight a.overlay-link
{
	display:block;
	font-weight:200;
	height:100%;
	left:0;
	position:absolute;
	text-decoration:none;
	top:0;
	width:100%;
    padding: 0;
    margin: 0;
}

div.spotlight a.overlay-link div.faux-table
{
	display:table;
	height:100%;
	overflow:hidden;
	width:100%;
    padding: 0;
    margin: 0;
}

div.spotlight a.overlay-link div.faux-table div.faux-table-cell
{
	display:table-cell;
	vertical-align:middle;
	width:100%;
    padding: 0;
    margin: 0;
}

div.spotlight a.overlay-link div.faux-table div.overlay-link-content
{
	text-align:center;
    padding: 0;
    margin: 0;
}

div.spotlight a.overlay-link div.overlay-link-content h2,
div.spotlight a.overlay-link div.overlay-link-content h3,
div.spotlight a.overlay-link div.overlay-link-content h4,
div.spotlight a.overlay-link div.overlay-link-content h5,
div.spotlight a.overlay-link div.overlay-link-content h6,
div.spotlight a.overlay-link div.overlay-link-content p
{
	text-align: center;
    font-style: normal;
}

div.spotlight a.overlay-link div.overlay-link-content .action
{
	text-transform:uppercase;
}

div.spotlight a.overlay-link div.overlay-link-content span.logo
{
	margin-left:auto;
	margin-right:auto;
}

div.overlay-link-content em
{
	display:block;
	font-style:normal;
}

div.overlay-link-content small
{   
    color: black;
	font-style:normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.grid-flexible-container .spotlight:hover,
.grid-flexible-container .spotlight.highlight {
    background-color: #8eaace;
}

.grid-flexible-container .look {
    background-color: #ccc;
}

.grid-flexible-container  .show {
    background-color: #eee;
}

.grid-flexible-container  .description {
    background-color: #999;
}

.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content h2,
.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content h3,
.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content h4,
.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content h5,
.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content h6,
.grid-flexible-container.span8 div.spotlight a.overlay-link div.overlay-link-content p
 {
    font-size: 12px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
GROUPEDLOOKS GRID
----------------------------------------------------------------------------------------------------------------------------------*/

.look-imagery li {
    max-width: 70px;
    float: left;
}

.look-imagery .ui-sortable {
/*    max-height: 1000px;*/
    
}

ul.looks-grid {
    counter-reset: item;    
}

div.look-imagery .ui-sortable li
{
    position: relative;
    list-style: none;
}

div.look-imagery .ui-sortable li span
{
    position: absolute;
    height: 16px;
    width: 16px;
}

div.look-imagery .ui-sortable li span
{
    position: absolute;
    background-color: #F0F0F0;
    color: #777;
    display: block;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 0 2px;
    text-align: center;
}


div.look-imagery .resource span.count:before
{
    counter-increment: item;
    content: counters(item, ".") " ";
}

div.look-imagery .resource span.count
{
    left:0;
    top:0;
}
