@charset "utf-8";

/*----------------------------------------------------------------------------------------------------------------------------------
Core Styles
----------------------------------------------------------------------------------------------------------------------------------*/
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: white;
	color: black;
	font-size: 97%;	
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #e6e6e6;
	text-decoration: underline;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Section
----------------------------------------------------------------------------------------------------------------------------------*/
section#wrapper {
	background-color: #cccccc;
	width: 990px;
	margin: 0 auto;
	padding: 15px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Header
----------------------------------------------------------------------------------------------------------------------------------*/
header#header h1 {
	font-size: 1.4em;
}

/*----------------------------------------------------------------------------------------------------------------------------------
Content
----------------------------------------------------------------------------------------------------------------------------------*/
article#content {
	margin: 10px 0;
}

article#content hgroup h2 {
	font-size: 1.2em;
	font-weight: bold;
}

article#content hgroup h3 {
	font-size: 1.1em;
}

article#content li h4 {
	font-size: 1.0em;
	font-weight: bold;
}

article#content h4 small {
	font-size: 0.9em;
	font-weight: normal;
	float: right;
}
article#content li.post {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #000000;
}


/*----------------------------------------------------------------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------------------------------------------------------------*/
footer#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------------
SKIP LINKS
----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------
SKIP LINKS


----------------------------------------------------------------------------------------------------------------------------------*/
#wrapper .skip-links li a
{
	background:rgb(43,43,43);
	color:rgb(255,255,255);
	display:block;
	left:0;
	position:absolute;
	text-align:center;
	top:-20000em;
	width:100%;
}

#wrapper .skip-links-pre li a:focus,
#wrapper .skip-links-pre li a.focus
{
	top:0;
}

#wrapper .skip-links-post li a:focus,
#wrapper .skip-links-post li a.focus
{
	bottom:0;
	left:auto;
	top:auto;
	margin-top:-1em;
	position:static;
}

/*----------------------------------------------------------------------------------------------------------------------------------
CLEARFIX http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
----------------------------------------------------------------------------------------------------------------------------------*/
.clearfix:after /*ie6.css*/ /*ie7.css*/
{
	clear:both;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}

/*----------------------------------------------------------------------------------------------------------------------------------
PRINT
----------------------------------------------------------------------------------------------------------------------------------*/
.print, .hide
{
	display:none;
}

/*----------------------------------------------------------------------------------------------------------------------------------
REPLACED
----------------------------------------------------------------------------------------------------------------------------------*/
body #wrapper .replaced /*ie6.css*/
{
	background-attachment:scroll;
	background-position:top left;
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	text-indent:-5000px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
VIEWPORT OFFSET
----------------------------------------------------------------------------------------------------------------------------------*/
#wrapper .screen-offset
{
	background:transparent;
	display:block;
	height:1px;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	text-indent:-5000px;
	top:-5000px;
	width:1px;
}
