cite { 
	margin: 9px; 
	padding: 9px 12px; 
	display: block; 
	background: #e6e6e6; 
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: black;
	color: white;
	font-size: 97%;	
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #e6e6e6;
	text-decoration: underline;
}

h1 {
	font-size: 1.6em;
	margin: 1.2em 0em;
}

h2 {
	font-size: 1.3em;
	margin: 1.2em 0em;	
}

small {
	font-size: 0.8em;
}

#wrapper {
	padding: 15px;
	width: 980px;
	height: auto;
	max-height: 100%;
	min-height: 100%;
	margin: 0px auto;
	border: 1px solid #b3b3b3;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background: #333333;
	color: inherit;
}

.dialog ul.errors, .dialog ul.errors li {
	list-style: none;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
	padding: 6px;
	margin: 0px;
}

.rounded {
	border: 1px solid #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#list-box, #login-box {
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	background: #555555;
	color: inherit;
}

.login dd, .login dt {
	display: block;
	min-height: 24px;
	min-width: 100px;
}

#submit-element {
	width: 155px;
}

.login dt {
	float: left;
	clear: left;
}
.login dd {
	float: right;
}

.dialog {

}

.right {
	float: right;
}

#row-hilite li {
	margin: 2px 0;
	padding: 2px;
}

#row-hilite li:hover {
	background: #666;
}

#header {
	display: block;
	overflow: hidden;
	margin: 0 0 15px 0;
	padding: 0px;
	border:1px solid #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#header #header-inner {
	min-height: 110px;
	max-height: 120px;
	display: block;
	position: relative;
	background: transparent url(../img/headers/stock01-header-conn-nephin.jpg) no-repeat bottom center;
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#header #header-inner a {
	position: absolute;
	bottom: 5px;
	left: 5px;
	height:43px;
	width:186px;
}

.subheading {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 10px 0;
}

.top-border {
	display: block;
	border-top: 1px solid #666666;
	margin-top: 5px !important;
	padding-top: 5px !important;
}

.navigation {
	display: block;
}
.navigation li {
	position: relative;
	display: inline;
	margin: 5px;
}

.subnav {
	position: absolute;
	top: 1.3em;
}
.subnav li {
	display: inline;
	margin: 5px;
}

/*
.list-unsigned 
.list-hor
*/

#footer {
	display: block;
	position: absolute;
	bottom: 0px;
	/* margin: 27px; */
}

/*----------------------------------------------------------------------------------------------------------------------------------
CLEARFIX http://perishablepress.com/press/2009/12/06/new-clearfix-hack/
----------------------------------------------------------------------------------------------------------------------------------*/
.clearfix:after /*ie6.css*/ /*ie7.css*/
{
	clear:both;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}

/*----------------------------------------------------------------------------------------------------------------------------------
PRINT
----------------------------------------------------------------------------------------------------------------------------------*/
.print, .hide
{
	display:none;
}

/*----------------------------------------------------------------------------------------------------------------------------------
REPLACED
----------------------------------------------------------------------------------------------------------------------------------*/
body #wrapper .replaced /*ie6.css*/
{
	background-attachment:scroll;
	background-position:top left;
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	text-indent:-5000px;
}

/*----------------------------------------------------------------------------------------------------------------------------------
VIEWPORT OFFSET
----------------------------------------------------------------------------------------------------------------------------------*/
#wrapper .screen-offset
{
	background:transparent;
	display:block;
	height:1px;
	line-height:0;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	text-indent:-5000px;
	top:-5000px;
	width:1px;
}