*
{
	background:none !important;
	float:none !important;
}


*[style]
{
	height:auto !important;
	width:auto !important;
}


/*------------------------------------------------------------------
REMOVED ELEMENTS
------------------------------------------------------------------*/
object,
fieldset,
.navigation,
.carousel .clone,
div#fancybox-tmp,
div#fancybox-loading,
div#fancybox-overlay,
div#fancybox-wrap
{
	display:none !important;
}


/*------------------------------------------------------------------
FONTS
------------------------------------------------------------------*/
body
{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}

/*------------------------------------------------------------------
TEXT
------------------------------------------------------------------*/
body
{
	font-size:12px;
}

a:after
{
	content:" (" attr(href) ") ";
}

abbr:after
{
	content:" (" attr(title) ")";
}

img:after
{
	content:" (" attr(alt) ")";
}


/*----------------------------------------------------------------------------------------------------------------------------------
COMPONENTS
----------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------------------
CAROUSEL
----------------------------------------------------------------------------------------------------------------------------------*/
.carousel .carousel-items
{
	width:auto !important;
}


/*----------------------------------------------------------------------------------------------------------------------------------
TABS
----------------------------------------------------------------------------------------------------------------------------------*/
.tabs .tab-panels .panel
{
	display:block !important;
}